extends layout

block body
  .container
    .row
      .col-md-12
        section(ng-controller='AppCtrl')
          h2 Timeline
          time-line(items='items')

  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular-resource/angular-resource.min.js')
  script(src='js/lib/vis/dist/vis.min.js')
  script(src='js/app.js')


block live-reload
  script(src='http://localhost:35729/livereload.js?snipver=1')