extends layout

block body
  .container
    .row
      .col-md-12
        section(ng-controller='AppCtrl')
          h2 Timeline
          br
          time-line(items='items')


block live-reload
  script(src='http://localhost:35729/livereload.js?snipver=1')