doctype
html(ng-app='AskVis')
  head
    meta(charset='utf8')
    base(href='/')
    title Ask-Vis
    link(rel='stylesheet', href='/js/lib/bootstrap-sass/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/js/lib/vis/dist/vis.min.css')
  body
    block body
    block live-reload